{% if messages %}
    {% if type is None or type == "debug" %}
    <ul class="w-full font-normal text-sm mx-2 text-gray-700">
        Runtime Debugger
        {% for message in messages %}
        <li {% if message.tags %} class="message {{ message.tags }}"{% endif %}>
            [{{message.tags}}]: {{ message }} ({{now}})
        </li>
        {% endfor %}
    </ul>
    {% elif type == "notice" %}
    <ul class="absolute mx-auto top-0 left-0 right-0 flex justify-center">
        {% for message in messages %}
        <li {% if message.tags %} class="message notice z-10 {{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endif %}