{% extends 'base.html' %}

<!-- Page Name -->
{% block page_title %}
{{room.name}}
{% endblock page_title %}

<!-- Page Content -->
{% block content %}
    <!-- Room Title -->
    <div class="container mx-auto">
        <div class="text-2xl font-semibold pt-2">{{room.name}}</div>
        <div class="mb-5">
            <i class="fas fa-star text-red-500 text-sm mr-1"></i>
            <span class="text-sm text-gray-600">{{room.get_total_rating}}</span>
                &#8901; 
            <span class="text-sm font-medium text-gray-600">{{room.city}}.{{room.country}}</span>
        </div>
    </div>        

    
    {% comment %}
    <!-- Normal Room View -->
    <div class="container mx-auto">
        <div class="h-50vh flex mb-10">
            <div class="zoom w-1/2 bg-cover bg-center border-2 border-white" style="background-image: url({{room.get_first_photo}});"></div>
            <div class="w-1/2 flex flex-wrap"> 
                
                {% for photo in room.get_next_four_photos %}
                    <div class="zoom w-1/2 h-auto bg-cover bg-center border-2 border-white" style="background-image: url({{photo.file.url}});"></div>
                {% endfor %}
                
            </div>
        </div>
    </div>
    {% endcomment %}
    
    <!-- Wide Room View -->  
    <div class="container max-w-full">
        <div class="h-50vh flex mb-10">
            <div class="w-1/2">
                {% if room.get_first_photo %}
                    <div class="zoom h-full bg-center border border-gray-900" style="background-image: url({{room.get_first_photo}});"></div>
                {% endif %}
            </div>
            <div class="w-1/2 flex flex-wrap">
                {% for photo in room.get_next_four_photos %}
                    <div class="zoom w-1/2 h-auto bg-center border border-gray-900" style="background-image: url({{photo.file.url}});"></div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Room Detail -->
    <div class="container mx-auto flex justify-around">
        <!-- Room Info -->
        <div class="w-8/12">
            <div class="flex justify-between items-center mb-6">
                <div>
                    <h4 class="text-lg font-medium">{{room.name}}</h4>
                    <!-- pluralize
                        https://docs.djangoproject.com/en/2.2/ref/templates/builtins/#pluralize 
                    -->
                    <span class="font-normal text-base text-gray-700">
                        {{room.property_type}} &#8901;
                        {{room.guests}} guest{{room.guests|pluralize}} &#8901;
                        {{room.beds}} bed{{room.beds|pluralize}} &#8901;
                        {{room.bedrooms}} bedroom{{room.bedrooms|pluralize}} &#8901;
                        {{room.bathrooms}} bathroom{{room.bathrooms|pluralize}}
                    </span>
                </div>
                <a class="flex flex-col items-center mx-4" href="{{room.host.get_absolute_url}}">
                    {% include "mixins/user_avatar.html" with user=room.host size=12 text=2 %}
                    <span class="text-xs text-gray-600">{{room.host.first_name}}</span>
                </a>
            </div>
            
            <!-- divider -->
            {% include 'mixins/divider.html' %}
            
            <div class="my-6">
                <p>
                    {{room.description}}
                </p>
            </div>
            
            <!-- divider -->
            {% include 'mixins/divider.html' %}

            <div class="my-6">
                <h4 class="font-medium text-xl mb-4">Amenities</h4>
                <!--  Hack. TailwindCSS remove bullet with <ul>
                <ul>
                    {% for a in room.amenities.all %}
                        <li class="mb-2">{{a}}</li>
                    {% endfor %}
                </ul> -->
                <!-- If you want to display bullet, don't use <ul> with TailwindCSS-->
                {% for a in room.amenities.all %}
                    <li class="mb-2">{{a}}</li>
                {% endfor %}
            </div>
            
            <!-- divider -->
            {% include 'mixins/divider.html' %}

            <div class="my-6">
                <h4 class="font-medium text-xl mb-4">Facilities</h4>
                {% for f in room.facilities.all %}
                    <li class="mb-2">{{f}}</li>
                {% endfor %}
            </div>
            
            <!-- divider -->
            {% include 'mixins/divider.html' %}

            <div class="my-6">
                <h4 class="font-medium text-xl mb-4">House Rules</h4>
                {% for r in room.house_rules.all %}
                    <li class="mb-2">{{r}}</li>
                {% endfor %}
            </div>


        </div>
        
        <!-- Vertical empty space between Room info and action-->
        <div class="w-1/12">
        </div>

        <!-- Room action - edit, delete, booking ... -->
        <div class="w-3/12 px-4">
            
            {% if room.host == user %}                
                <a href="{% url 'rooms:edit' room.pk %}" class="btn-link bg-red-500 text-white block rounded-lg">Edit Room</a>
            {% else %}
                {% if not request.session.is_hosting %}
                    <!-- this month and next month-->
                    {% for calendar in room.get_calendars %}
                        <div class="mb-10">
                            <span class="text-center font-bold text-base block mb-4">{{calendar.get_month}}</span>
                            <div class="cal-grid mb-1">
                                {% for day in calendar.days_of_week %}
                                    <span class="font-semibold text-xs text-gray-600">{{day}}</span>
                                {% endfor %}
                            </div>
                            <div class="cal-grid">
                                {% for day in calendar.get_calendar_days %}
                                    {% if day.number != 0 %}
                                        
                                        {% if day.is_past %}
                                            <span class="w-full text-center rounded font-semibold text-xs text-gray-400 py-1">{{day}}</span>
                                        {% else %}
                                            <span class="w-full text-center rounded font-semibold text-xs py-1 hover:bg-teal-400 hover:text-white cursor-pointer">{{day}}</span>
                                        {% endif %}
                                            
                                    {% else %}
                                        <span></span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                        
                {% endif %}
            {% endif %}

        </div>
    </div>

    <!-- Reviews -->
    <div class="container mx-auto">
        <!-- divider -->
        {% include 'mixins/divider.html' %}

        <div class="my-6">
            <div class="flex items-center font-medium mb-6">
                <i class="fas fa-star text-red-500 text-sm mr-2"></i>
                <span class="text-xl">{{room.get_total_rating}} ({{room.reviews.count}} review{{room.reviews.count|pluralize}})</span>    
            </div>
            <div class="flex mb-4">
                {% for r in room.get_first_two_reviews %}
                    {% include 'mixins/review_card.html' with review=r %}
                {% endfor %}                    
            </div>
            <div class="flex">
                {% for r in room.get_next_two_reviews %}
                    {% include 'mixins/review_card.html' with review=r %}
                {% endfor %}
            </div>
        </div>
    </div>
<!-- <div>
    <h1>{{room.name}}</h1>
    <h3>{{room.description}}</h3>
</div>
<div>
    <h2>By: <a href="{{room.host.get_absolute_url}}">{{room.host.username}}</a></h2>

    {% if room.host.superhost %}
    (superhost)
    {% endif %}

    <h3>Amenities</h3>
    <ul>
        {% for a in room.amenities.all %}
        <li>{{a}}</li>
        {% endfor %}
    </ul>

    <h3>Facilities</h3>
    <ul>
        {% for f in room.facilities.all %}
        <li>{{f}}</li>
        {% endfor %}
    </ul>

    <h3>House Rules</h3>
    <ul>
        {% for r in room.house_rules.all %}
        <li>{{r}}</li>
        {% endfor %}
    </ul>
</div> -->

{% endblock content %}