<!-- base template having header & footer -->
{% extends 'base.html' %}

<!-- Page Name -->
{% block page_title %}
    Update Room
{% endblock page_title %}

<!-- Tips. You can hide search-bar with empty block like this. -->
{% block search-bar %}
{% endblock search-bar %}

<!-- Page Content -->
{% block content %}
    <div class="container w-full sm:w-6/12 md:w-5/12 lg:w-4/12 xl:w-3/12 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">

        {% include 'mixins/room/form.html' with form=form cta="Update Room" %}  
            
    </div>
{% endblock content %}