{% extends 'base.html' %}

<!-- Page Name -->
{% block page_title %}
Home for CBV
{% endblock page_title %}

<!-- Page Content -->
{% block content %}

{{now}}

<!-- Room List -->
{% for room in object_list %}
<h1>

    {% comment %}
    <a href="/rooms/{{room.id}}">
        {{room.name}} / ${{room.price}}
    </a>
    This is bad since we need to remember url path. instead, use URL tag as below.
    URL tag: {% url 'url_path:url_name' arg1 arg2 .. %}
    {% endcomment %}

    <a href='{% url "rooms:detail" room.id %}'>
        {{room.name}} / ${{room.price}}
    </a>
</h1>
{% endfor %}

<!-- Page Navigator -->
<h5>
    {% if page_obj.has_previous %}
    <a href="?page=1">&lt;&lt;</a>
    <a href="?page={{page_obj.number|add:-1}}">&lt;</a>
    {% else %}
    &lt;&lt;
    &lt;
    {% endif %}

    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    |
    {% for page in page_obj.paginator.page_range %}
    <a href="?page={{page}}">{{page}}</a>
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="?page={{page_obj.number|add:1}}">&gt;</a>
    <a href="?page={{page_obj.paginator.num_pages}}">&gt;&gt;</a>
    {% else %}
    &gt;
    &gt;&gt;
    {% endif %}
</h5>

{% endblock content %}