{% extends 'base.html' %}
{% load static i18n %}
<!-- Page Name -->
{% block page_title %}
    Home
{% endblock page_title %}

<!-- Page Content -->
{% block content %}

    <!-- {{now}} -->

    <!-- Tips. html snippet: div tag with class
        type ".container.mx-auto" and tab
        or just type "." and tab
    -->
    <div class="container mx-auto">
        <!-- Tips. To get high definition image, remove width & quality part ("&w=1956&q=80") of image address copied from unsplash.com-->
        <div class="flex flex-wrap -mx-40 mt-32 px-2">
            <div class="text-2xl font-bold text-gray-800">Airbnb Plus places to stay</div>
        </div>
        <div class="flex flex-wrap -mx-40 mb-4 px-2">
            <div class="text-base text-gray-600">A selection of places to stay verified for quality and design</div>
        </div>
        <div class="px-2">
            <!-- set "flex items-center justify-center" for button positioning in div-->
            <div class="flex items-center justify-center rounded-lg bg-gray-800 h-25vh -mx-40 mb-16 bg-cover bg-center" style="background-image: url(https://images.unsplash.com/photo-1519974719765-e6559eac2575?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)">
                <button id="btnAbout" class="bg-white font-medium text-xs mt-16 px-8 py-3 rounded hover:bg-gray-100 focus:outline-none">ABOUT PROJECT <i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
        
        <!-- Room List -->
        <div class="flex flex-wrap -mx-40 px-2 mb-4">
            <div class="text-2xl font-bold text-gray-800">Places to stay around the world</div>
        </div>
        <div class="flex flex-wrap -mx-40"><!-- Check this. minor margin with tailwindCSS: "-mx-40" -->
            {% for room in object_list %}
                {% comment %}
                <a href="/rooms/{{room.pk}}">
                    {{room.name}} / ${{room.price}}
                </a>
                This is bad since we need to remember url path. instead, use URL tag as below.
                URL tag: {% url 'url_path:url_name' arg1 arg2 .. %}
                {% endcomment %}
                <!-- with room=room : pass 'room' object to room_card.html-->
                {% include 'mixins/room_card.html' with room=room %}
            {% endfor %}
        </div>

        <!-- Page Navigator -->
        <div class="flex items-center justify-center mb-10">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.number|add:-1}}" class="text-teal-600">
                    <i class="fas fa-chevron-left"></i>
                </a>
            {% else %}
                <i class="fas fa-chevron-left text-teal-100"></i>
            {% endif %}

            <span class="ml-3 font-semibold text-gray-600">
                <!-- https://docs.djangoproject.com/en/2.2/topics/i18n/translation/#blocktrans-template-tag -->
                {% blocktrans with current_page=page_obj.number total_pages=page_obj.paginator.num_pages %}Page {{current_page}} of {{total_pages}}{% endblocktrans %}
            </span>
            
            {% comment %}
                <span class="mx-2 text-teal-600">&#10073;</span>
                {% for page in page_obj.paginator.page_range %}
                    {% if page == page_obj.number %}
                        <a href="?page={{page}}" class="mx-1 font-bold text-gray-600">{{page}}</a>
                    {% else %}
                        <a href="?page={{page}}" class="mx-1 text-gray-600">{{page}}</a>
                    {% endif %}
                {% endfor %}
            {% endcomment %}

            {% if page_obj.has_next %}
                <a href="?page={{page_obj.number|add:1}}" class="ml-2 text-teal-600">
                    <i class="fas fa-chevron-right"></i>
                </a>
            {% else %}
                <i class="ml-2 fas fa-chevron-right text-teal-100"></i>
            {% endif %}
        </div>
        <!-- <h5>
            {% if page_obj.has_previous %}
            <a href="?page=1">&lt;&lt;</a>
            <a href="?page={{page_obj.number|add:-1}}">&lt;</a>
            {% else %}
            &lt;&lt;
            &lt;
            {% endif %}

            Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
            |
            {% for page in page_obj.paginator.page_range %}
            <a href="?page={{page}}">{{page}}</a>
            {% endfor %}

            {% if page_obj.has_next %}
            <a href="?page={{page_obj.number|add:1}}">&gt;</a>
            <a href="?page={{page_obj.paginator.num_pages}}">&gt;&gt;</a>
            {% else %}
            &gt;
            &gt;&gt;
            {% endif %}
        </h5> -->
    </div>
    <!-- Modal -->
    <div class="modal-about">
        <!-- Modal content -->
        <div class="modal-content w-full h-full rounded-lg outline-none">
            <div class="container mx-auto items-center">
                <i id="btnClose" class="flex justify-end text-3xl mt-10 text-gray-500 hover:text-gray-800 cursor-pointer fas fa-times"></i>
                <span class="container mx-auto flex flex-col">
                    <div class="font-bold text-3xl mb-8">
                        Airbnb Clone Project
                    </div>
                    <div class="flex flex-wrap items-center mb-8">
                        <img src="{% static 'img/logo_django.png' %}" class="w-16 mr-4 rounded-lg border-2 border-gray-700" title="Django" alt="Django">
                        <img src="{% static 'img/logo_js.png' %}" class="w-16 mr-4 rounded-lg border-2 border-gray-700" title="JavaScript" alt="JavaScript">
                        <img src="{% static 'img/logo_sass.png' %}" class="w-16 mr-4 rounded-lg border-2 border-gray-700" title="Scss" alt="Scss">
                        <img src="{% static 'img/logo_tailwindcss.png' %}" class="w-16 mr-4 rounded-lg border-2 border-gray-700" title="TailwindCSS" alt="TailwindCSS">
                        <img src="{% static 'img/logo_eb.png' %}" class="w-16 mr-4 rounded-lg border-2 border-gray-700" title="AWS EB" alt="AWS EB">
                        <img src="{% static 'img/logo_rds.png' %}" class="w-16 mr-4 rounded-lg border-2 border-gray-700" title="AWS RDS" alt="AWS RDS">
                        <img src="{% static 'img/logo_postgresql.png' %}" class="w-16 mr-4 rounded-lg border-2 border-gray-700" title="PostgreSQL" alt="PostgreSQL">
                        <img src="{% static 'img/logo_s3.png' %}" class="w-16 mr-4 rounded-lg border-2 border-gray-700" title="AWS S3" alt="AWS S3">
                    </div>
                    <span class="font-medium text-xl text-gray-700 mb-4">Jaehyun Park</span>
                    <span class="mb-1">
                        <i class="w-4 fab fa-github"></i>
                        <a class="mx-2 font-normal text-base text-gray-700" href="https://github.com/jaeyp">github</a>
                    </span>
                    <span class="mb-1">
                        <i class="w-4 fas fa-envelope"></i>
                        <a class="mx-2 font-normal text-base text-gray-700" href="mailto:jp.inseoul@gmail.com">email</a>
                    </span>
                    <span class="mb-1">
                        <i class="w-4 fas fa-address-card"></i>
                        <a class="mx-2 font-normal text-base text-gray-700" href="#">portfolio is under construction</a>
                    </span>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


{% block javascript %}
<script>
    // Get the modal
    var about = document.querySelector(".modal-about");
    // Get the button that opens the modal
    var btn_about = document.querySelector("#btnAbout");
    // Get the <i> element that closes the modal
    var btn_close = document.querySelector("#btnClose");
    // When the user clicks the button, open the modal 
    btn_about.onclick = function() {
        about.style.display = "block";
    }
    // When the user clicks on <span> (x), close the modal
    btn_close.onclick = function() {
        about.style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == about) {
            about.style.display = "none";
        }
    }
</script>
{% endblock javascript %}