{% extends "base.html" %}
<!-- custom template tags: rooms/templatetags/room_extras.py 
    https://docs.djangoproject.com/en/2.2/howto/custom-template-tags/
-->
{% load static room_extras i18n on_favs %}

{% block page_title %}
Search
{% endblock page_title %}

<!-- Tips. You can hide search-bar with empty block like this. -->
{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <div class="container max-w-full mx-5">
        <div class="flex items-center text-sm h-16 mx-2 mt-4">
            Enter dates and number of guests to see the total price per night. Tourism taxes may be added.
        </div>

        <div class="w-5/12">

            <!-- divider -->
            {% include 'mixins/divider.html' %}
                
            <!-- notice -->
            <div class="flex items-center h-16 mx-2 mt-4">
                <img class="h-10" src="{% static 'img/trophy.gif' %}" alt="">
                <span class="font-medium text-xs ml-2">Over xxx,xxx guest reviews for places to stay in {{place}}, with an average of x.x out of 5 stars.</span>
            </div>
    
    
            <!-- title -->
            <div class="flex items-center h-16 mt-4">
                <div class="text-2xl font-bold text-gray-700 ml-2">{{ all_obj|length }} places to stay</div>
            </div>
    
        </div>

        <div class="flex flex-wrap mb-10">
        {% for room in page_obj %}
            <!-- room list -->
            <div class="w-5/12 mb-2 px-2 overflow-hidden">
                <!-- divider -->
                {% include 'mixins/divider.html' %}
                {% include 'mixins/room_card_wide.html' with room=room user=user %}
            </div>
            <div class="w-7/12"></div>
        {% endfor %}
        </div>
    </div>

    <!-- Page Navigator -->
    <div class="flex max-w-full items-center justify-center mb-10">
        <div class="flex justify-center w-5/12">
        {% if page_obj.has_previous %}
            <a href="?place={{place}}&page={{page_obj.number|add:-1}}" class="text-teal-600">
                <i class="fas fa-chevron-left"></i>
            </a>
        {% else %}
            <i class="fas fa-chevron-left text-teal-100"></i>
        {% endif %}

        <span class="ml-3 font-semibold text-gray-600">
            <!-- https://docs.djangoproject.com/en/2.2/topics/i18n/translation/#blocktrans-template-tag -->
            {% blocktrans with current_page=page_obj.number total_pages=page_obj.paginator.num_pages %}Page {{current_page}} of {{total_pages}}{% endblocktrans %}
        </span>
        
        {% if page_obj.has_next %}
            <a href="?place={{place}}&page={{page_obj.number|add:1}}" class="ml-2 text-teal-600">
                <i class="fas fa-chevron-right"></i>
            </a>
        {% else %}
            <i class="ml-2 fas fa-chevron-right text-teal-100"></i>
        {% endif %}
        </div>
        <div class="w-7/12"></div>
    </div>

{% endblock content %}