container_commands:
  01_migrate:
    command: "django-admin migrate"
    leader_only: true
  02_compilemessages:
    command: "django-admin compilemessages"
  03_createsu:
    command: "django-admin createsu"
    leader_only: true
  04_collectstatic:
    command: "django-admin collectstatic --noinput"
  05_seedamenities:
    command: "django-admin seed_amenities"
    leader_only: true
  06_seedfacilities:
    command: "django-admin seed_facilities"
    leader_only: true
  07_seedhouserules:
    command: "django-admin seed_house_rules"
    leader_only: true
  08_seedpropertytypes:
    command: "django-admin seed_property_types"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings