@tailwind base;
@tailwind components;

.search-box {
  transition: box-shadow 0.3s linear;
}

.nav-link {
  @apply ml-6 border-b-2 border-white h-full flex items-center;
  a {
    @apply py-10 px-2;
  }
  /** SCSS: Writing pseudo classes on a class with the `&:`
    `@apply` cannot be used with `.hover\:border-gray-600` because `.hover\:border-gray-600` either cannot be found, 
    or its actual definition includes a pseudo-selector like :hover, :active, etc.
  */
  &:hover {
    @apply border-gray-600;
  }
}

.btn-link {
  @apply w-full text-center rounded my-2 py-2 font-medium text-base;
}

// Login, Signup
div .input-div {
  @apply flex justify-between items-center w-full text-center text-left border border-gray-600 rounded my-2 py-2 px-4;

  // In case that both classes .input-div and .has_error together is used in a same div.
  // - two class: div .input-div.has_error {} == div .input-div { &.has_error {} }
  // - sub class: div .input-div .has_error {} == div .input-div { .has_error {} }
  &.has_error {
    @apply border-2 border-red-500; // append more style highlighting error
  }

  input,
  textarea,
  select {
    @apply w-full font-medium text-base;

    // pseudo classes
    &:focus {
      @apply outline-none;
    }
  }

  i {
    @apply ml-2 text-gray-600;
  }
}

textarea {
  resize: none;
  height: 100px;
}

// Gallery
@keyframes bgZoomIn {
  0% {
    background-size: 100% 100%;
    opacity: 0.95;
  }
  100% {
    background-size: 105% 105%;
    opacity: 1;
  }
}
.zoom:hover {
  animation: bgZoomIn 1s forwards;
}
.zoom:not(:hover) {
  background-size: 100% 100%;
  opacity: 0.95;
}

// Messages
@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  20% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    opacity: 1;
    transform: translateY(30px);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

.message {
  @apply w-full font-normal text-sm;
  &.notice {
    animation: messageFadeIn 4s ease-in-out forwards;
    @apply w-auto font-bold text-base;
  }
  &.debug {
    @apply text-gray-700;
  }
  &.info {
    @apply text-blue-600;
  }
  &.success {
    @apply text-green-600;
  }
  &.warning {
    @apply text-yellow-600;
  }
  &.error {
    @apply text-red-600;
  }
}

@tailwind utilities;
