<!-- base template having header & footer -->
{% extends 'base.html' %}

<!-- Page Name -->
{% block page_title %}
    Log In
{% endblock page_title %}

<!-- Tips. You can hide search-bar with empty block like this. -->
{% block search-bar %}
{% endblock search-bar %}

<!-- Page Content -->
{% block content %}
    <div class="container w-full sm:w-6/12 md:w-5/12 lg:w-4/12 xl:w-3/12 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">
        <!-- Social Login -->
        {% include 'mixins/auth/social.html' %}
   
        <!-- divider -->
        {% include 'mixins/divider.html' with text="or" %}

        <span class="text-sm">In case you don't want to create a new account, use this.</span>
        <div class="flex flex-wrap">
            <span class="font-bold text-sm text-gray-600 mr-1">ID:</span><span class="text-sm">guest@test.com</span>
        </div>
        <div class="flex flex-wrap">
            <span class="font-bold text-sm text-gray-600 mr-1">Password:</span><span class="text-sm">letmelogin</span>
        </div>
        <!-- Email Login -->
        {% include 'mixins/auth/form.html' with form=form cta="Log In" %}        

        <!-- divider -->
        {% include 'mixins/divider.html' %}

        <!-- Move to Signup -->
        <div class="w-full">
            <span class="font-normal">Don't have an Airbnb account?</span>
            <a href="{% url 'users:signup' %}" class="text-medium font-bold text-teal-600 ml-1">Sign up</a>
        </div>
    </div>
{% endblock content %}