<!-- base template having header & footer -->
{% extends 'base.html' %}

<!-- Page Name -->
{% block page_title %}
Sign Up
{% endblock page_title %}

<!-- Tips. You can hide search-bar with empty block like this. -->
{% block search-bar %}
{% endblock search-bar %}

<!-- Page Content -->
{% block content %}
    <div class="container w-full sm:w-6/12 md:w-5/12 lg:w-4/12 xl:w-3/12 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">
        {% include 'partials/social_login.html' %}   

        <!-- divider -->
        <div class="flex items-center w-full my-2">
            <div class="h-px w-full bg-gray-400"></div>
            <span class="text-gray-600 font-medium mx-4">or</span>
            <div class="h-px w-full bg-gray-400"></div>
        </div>
            
        <form method="POST" action="{% url 'users:signup' %}" class="w-full">
            {% csrf_token %}

            <!-- non_field_errors -->
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <span class="w-full text-sm font-medium text-red-500">{{error}}</span>
                {% endfor %}
            {% endif %}

            <!-- inputs -->
            {% for field in form %}
                {% include 'partials/input.html' with field=field %}                
            {% endfor %}

            <!-- <div class="flex flex-col items-center w-full">
                <div class="input-div">
                    {{form.first_name}}
                    <i class="far fa-user"></i>
                </div>
                <div class="w-full text-sm font-medium text-red-500">
                    {{form.first_name.errors}}
                </div>
                <div class="input-div">
                    {{form.last_name}}
                    <i class="far fa-user"></i>
                </div>
                <div class="w-full text-sm font-medium text-red-500">
                    {{form.last_name.errors}}
                </div>
                <div class="input-div">
                    {{form.email}}
                    <i class="far fa-envelope"></i>
                </div>
                <div class="w-full text-sm font-medium text-red-500">
                    {{form.email.errors}}
                </div>
                <div class="input-div">
                    {{form.password}}
                    <i class="fas fa-key"></i>
                </div>
                <div class="w-full text-sm font-medium text-red-500">
                    {{form.password.errors}}
                </div>
                <div class="input-div">
                    {{form.password_confirmed}}
                    <i class="fas fa-key"></i>
                </div>
                <div class="w-full text-sm font-medium text-red-500">
                    {{form.password_confirmed.errors}}
                </div>
            </div> -->
            <!-- {{form.as_p}} -->
            <button class="btn bg-red-500 text-white font-bold">Sign Up</button>
        </form>
        
        <!-- separator -->
        <div class="flex items-center w-full my-4">
            <div class="h-px w-full bg-gray-400"></div>
        </div>

        <!-- Move to Login -->
        <div class="w-full">
            <span class="font-normal">Already have an Airbnb account?</span>
            <a href="{% url 'users:login' %}" class="text-medium font-bold text-teal-600 ml-1">Log in</a>
        </div>
    </div>
{% endblock content %}