<!-- We can skip 'action' field here becuase , if there is no action, request is sent to the same url as default-->
<!-- To support image upload with user profile, set enctype="multipart/form-data" -->
<form method="POST" class="w-full" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- non_field_errors -->
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <span class="w-full text-sm font-medium text-red-500">{{error}}</span>
        {% endfor %}
    {% endif %}

    <!-- inputs -->
    <!-- https://docs.djangoproject.com/en/2.2/topics/forms/#looping-over-the-form-s-fields -->
    {% for field in form %}
        <div class="my-2">
            <!-- <span class="font-medium text-gray-700">{{field.label}}</span> -->
            {% include 'mixins/auth/input.html' with field=field %}      
        </div>          
    {% endfor %}

    <!-- Call to Action button-->
    <button class="btn bg-red-500 text-white font-bold">{{cta}}</button>
</form>


{% comment Email LogIn Form %}
    <form method="POST" action="{% url 'users:login' %}" class="w-full">
        <!--
        [CSRF attack - CSRF verification failed]

        - What is Cross-site Request Forgery? (CSRF)
        It's an attack that forces an end user to execute unwanted actions on a web application in which they're currently authenticated. 
        e.g. 
        1. Embed this CSRF attack code to the document or email to change admin's password, and sent it.
        <img src="http://auction.com/changeUserAcoount?id=admin&password=admin" width="0" height="0">
        2. If admin user open the document on the browser in which they're currently authenticated with a cookie,
        admin's password is changed.

        - How to prevent it in Django
        Add {% csrf_token %} in your POST form
        This token verifies that post request comes from this website
        -->
        
        {% csrf_token %}

        <!-- non_field_errors -->
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <span class="w-full text-sm font-medium text-red-500">{{error}}</span>
            {% endfor %}
        {% endif %}

        <!-- inputs -->
        <!-- https://docs.djangoproject.com/en/2.2/topics/forms/#looping-over-the-form-s-fields -->
        {% for field in form %}
            {% include 'mixins/auth/input.html' with field=field %}                
        {% endfor %}

        <!-- <div class="flex flex-col items-center w-full">
            <div class="input-div">
                {{form.email}}
                <i class="far fa-envelope"></i>
            </div>
            <div class="input-div">
                {{form.password}}
                <i class="fas fa-key"></i>
            </div>
        </div> -->
        <!-- {{form.as_p}} -->
        <button class="btn bg-red-500 text-white font-bold">Log In</button>
    </form>
{% endcomment %}
    
{% comment Email SignUp Form %}
    <form method="POST" action="{% url 'users:signup' %}" class="w-full">
        {% csrf_token %}

        <!-- non_field_errors -->
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <span class="w-full text-sm font-medium text-red-500">{{error}}</span>
            {% endfor %}
        {% endif %}

        <!-- inputs -->
        <!-- https://docs.djangoproject.com/en/2.2/topics/forms/#looping-over-the-form-s-fields -->
        {% for field in form %}
            {% include 'mixins/auth/input.html' with field=field %}                
        {% endfor %}

        <!-- <div class="flex flex-col items-center w-full">
            <div class="input-div">
                {{form.first_name}}
                <i class="far fa-user"></i>
            </div>
            <div class="w-full text-sm font-medium text-red-500">
                {{form.first_name.errors}}
            </div>
            <div class="input-div">
                {{form.last_name}}
                <i class="far fa-user"></i>
            </div>
            <div class="w-full text-sm font-medium text-red-500">
                {{form.last_name.errors}}
            </div>
            <div class="input-div">
                {{form.email}}
                <i class="far fa-envelope"></i>
            </div>
            <div class="w-full text-sm font-medium text-red-500">
                {{form.email.errors}}
            </div>
            <div class="input-div">
                {{form.password}}
                <i class="fas fa-key"></i>
            </div>
            <div class="w-full text-sm font-medium text-red-500">
                {{form.password.errors}}
            </div>
            <div class="input-div">
                {{form.password_confirmed}}
                <i class="fas fa-key"></i>
            </div>
            <div class="w-full text-sm font-medium text-red-500">
                {{form.password_confirmed.errors}}
            </div>
        </div> -->
        <!-- {{form.as_p}} -->

        <!-- Call to Action button-->
        <button class="btn bg-red-500 text-white font-bold">Sign Up</button>
    </form>
{% endcomment %}
 